html,body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: linear-gradient(to bottom, #030202, #787878);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {

  height: inherit;
}

header > h1 {
  text-align: center;
  margin: inherit;
  padding: 1.5% 0;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #F5F5F5;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #F5F5F5;
  font-family: 'Anton', sans-serif;

}

.navbar > li {
  list-style: none;
  padding: 0 1.5%;
}

.navbar a {
  font-size: 3.5em;
  color: #F5F5F5;
  /* position: relative; */
}

.menu-hover-lines {
  text-transform: uppercase;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: #F5F5F5;
  position: relative;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #878787;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

/* SECTION */

hr {
 background-color: white;
}

.title > h1 {
  text-transform: capitalize;
}

.container {
  color: #f5f5f5;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.film {
  height: 200px;
  width: 50%;
  display: inline-flex;
}
